.WatchList {
	position: relative;
	min-height: 350px;
	max-height: 72vh;
	overflow-y: auto;
	padding: 12px 8px;
	border-radius: 2px;
	background-color: #e2b100;
}

.WatchList__title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c161e;
	text-transform: uppercase;
	font-size: 28px;
	margin-bottom: 15px;
}

.WatchList__title::after, .WatchList__title::before {
	display: block;
	content: "";
	width: 15%;
	height: 2px;
	background-color: #0c161e;
}

.WatchList__title::after {
	margin-left: 10px;
}

.WatchList__title::before {
	margin-right: 10px;
}

.WatchList__msg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #0c161e;
}

.Watchlist::-webkit-scrollbar {
    width: 16px;
    background-color: #f5f5f5;
}

.Watchlist::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3f51b5;
}

.Watchlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f5f5f5;
}